.reservation-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 48%;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-check input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-check input {
    margin-right: 10px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .buttons-container button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    color: #fff;
    border: none;
  }
  .btn-warning {
    color: #fff;
    border: none;
    
  }
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
    
  